@using ASP.NET_Core_11_23.DTO
@model IEnumerable<StudentDTO>
<h1>List of all students</h1>
<form method="post" enctype="multipart/form-data" asp-controller="FileUpload" asp-action="Upload">
    <div class="form-group">
        <input type="file" name="file" />
        @*pozor, na name je zavisle jmeno parametru, cili souboru predavaneho do controlleru. Pokud se parametr ukládací metody v StudentContolleru jmenuje file, musi i name inputu byt file*@
    </div>
    <div class="form-group">
        <input type="submit" value="Upload" />
    </div>
</form>

@foreach (var item in Model)
{
    <div class="border border-1 border-dark p-2 ">
        <h5>@item.FirstName @item.LastName</h5>
        Id: @item.Id
        <p>Date of Birth: "@item.DateOfBirth.ToShortDateString()"</p>
            <a class="btn btn-warning" asp-action="Edit" asp-route-id=@item.Id>Edit</a>
        <form method="post">
            <button type="submit" class="btn btn-danger" asp-action="Delete" asp-route-id=@item.Id>Delete</button>
        </form>
    </div>
}
<hr />
<div>
    <a class="btn btn-success" asp-action="Create">Create</a>
</div>
