@model Subject
<h4>Create a new subject</h4>
<form asp-action="Edit">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <div>
        <input class="btn btn-success" type="submit" value="Update" />
    </div>
</form>
